.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    cursor: pointer;
    padding: 5px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    line-height: 22px;
    font-size: 1.6rem;
    font-family: var(--font-family);
    font-weight: 600;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}



.icon {
    font-size: 2.0rem;
    text-align: center;
    display: flex;
    min-width: 20px;
}

//Button types
.rounded {
    color: rgba(22, 24, 35, 0.75);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 52px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);

    &:hover {
        border-color: var(--primary-color);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary-color);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    min-width: 110px;
    border-radius: 2px;
    font-weight: 500;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: var(--white);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.small {
    min-width: 88px;
    padding: 2px 10px;
}

.large {
    min-width: 140px;
    padding: 12px 16px;
}
