.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    
    flex: 1;
    margin-left: 12px;
}

.username {
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 500;
}

.user-checked {
    font-size: 1.4rem;
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}