.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--height-search);
    padding-left: 16px;
    display: flex;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        color: var(--text-color);
        font-size: 1.6rem;
        font-size: var(--font-family);
        line-height: 22px;
        font-weight: 400;
        padding-right: 40px;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary-color);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        height: var(--height-search-separated);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        right: var(--search-button-width);
        top: calc((var(--height-search) - var(--height-search-separated)) / 2);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.search-more {
    display: block;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 16px;
}

.clear,
.loading {
    font-size: 1.5rem;
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: var(--search-button-width);
    top: 50%;
    transform: translateY(-50%);
    margin: 0 12px;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    background-color: transparent;
    width: 52px;
    height: 100%;
    border-bottom-right-radius: var(--search-border-radius);
    border-top-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);
    font-size: 2rem;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
