.wrapper {
    --search-border-radius: 92px;
    --height-search: 46px;
    --height-search-separated: 28px;
    --search-button-width: 52px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    height: 100%;
    width: var(--default-layout-width);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.actions {
    display: flex;
    align-items: center;
}

.more-icon {
    font-size: 2rem;
    background-color: transparent;
    padding: 4px 8px;
    margin-left: 20px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
    line-height: 3.2rem;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
